.container {
    @include flex(column, center, center);

    &-image {
        @include flex(null, center, center);
        @include size(240px, 160px);

        @include mq(xs) {
            @include size(300px, 200px);
        }   

        @include mq(md) {
            @include size(450px, 300px);
        }

        @include mq(lg) {
            @include size(600px, 400px);
        }
        
        @include mq(xxl) {
            @include size(900px, 600px);
        }
    }
}

.main-content {
    @extend %lighter-container;
    @include spacing(40px, 40px 0 0);
    width: 95%;

    @include mq(sm) {
        width: 80%;
        margin-top: 80px;
    }

    @include mq(xxxl) {
        width: 1600px;
    }

    &-2 {
        margin-bottom: 40px;

        @include mq(sm) {
            margin-bottom: 80px;
        }

        .select {
            padding-bottom: 20px;
        }
    }
}