header {
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    background-color: $primary__color--dark;
    color: $primary__color;
    box-shadow: 0 8px 20px -5px rgba(28, 28, 28, 0.4);
    margin: 0;
    padding: 10px;

    @include mq(lg) {
        font-size: 1.5rem;
    }
}