* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background: $primary__color;
    text-align: center;

}

main {
    position: relative;
}

select {
    background: $primary__color--dark;
    color: $primary__color;
    border: none;
    margin-top: 10px;
    padding: 15px 8px;
    border-radius: 8px;
    width: 260px;

    @include mq(md) {
        width: 350px;
    }

    &:focus-visible {
        outline: none;
    }

    &:empty {
        display: none;
    }
}

input {
    padding: 15px 11.5px;
    border: none;
    background: $primary__color--dark;
    color: $primary__color;
    border-radius: 8px 0 0 8px;
    width: 100%;

    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        color: $primary__color;
    }
}

button, select, input {
    font-size: 1rem;
    margin: 0;

    @include mq(md) {
        font-size: 1.25rem;
    }
}

label {
    display: block;
    margin-bottom: 10px;
    
    @include mq(md) {
        font-size: 1.25rem;
    }
}